<% content_for :title, "Tweets" %>

<div class="container">
  <h1 class="wottitle">Wall of Tweets · RoR Edition</h1>
  <div class="subtitle">A minimal wall for quick thoughts. Clean and focused.</div>

  <div class="walltweet">
    <%= render "form", tweet: Tweet.new %>
  </div>

  <% current_date = nil %>

  <% @tweets.each do |tweet| %>

    <% tweet_date = tweet.created_at.to_date %>

    <% if current_date != tweet_date %>
      <% current_date = tweet_date %>
      <div class="date-sep">
        <%= tweet.created_at.strftime("%A, %B %-d, %Y") %>
      </div>
    <% end %>

    <%= render tweet %>

  <% end %>
</div>